/*!
 * Marist CMPT 221L Fall 2024
 * Chris Carolan
 */

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    background-color: #2e2e2e;
    color: #f4f4f4;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 10%;
    height: auto;
}

.center-text {
    text-align: center;
    font-size: 150px;
    color: #a83232;
}

.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    gap: 0;

}

#HomeButton,
#MenuButton,
#AboutButton,
#ContactButton,
#ReservationButton {
    background-color: #a83232;
    color: #fff;
    padding: 20px 150px;
    font-size: 40px;
    cursor: pointer;
}

.welcome {
    text-align: center;
    font-size: 50px;
    color: #a83232;
    margin-left: 9%;
    margin-right: 9%
}

.images {
    display: flex;
    justify-content: center;
    gap: 0;
}

.restPhotos {
    margin-top: 2%;
    width: 25%;
    height: auto;
}

.foodHeadings {
    margin-top: 4%;
    margin-left: 14%;
    font-size: 65px;    
    color: rgb(246, 230, 230);
}

.food {
    font-size: 40px;
    margin-left: 14%;
    margin-right: 14%;
    color: rgb(246, 230, 230);
}
.foodImage{
    margin-left:90%;
    margin-top: 4%;
    width: 20%; 
    height: auto;
    border-radius: 50%; 
    object-fit: cover; 
}
.menuAndPics{
    flex: auto;
    text-wrap: 3%;
}
.aboutUsHeading{
    margin-top: 4%;
    margin-left: 14%;
    font-size: 65px;    
    color: rgb(246, 230, 230);
}

.aboutUs {
    font-size: 40px;
    margin-left: 14%;
    margin-right: 14%;
    color: rgb(246, 230, 230);
}
.personalPhotos{
    margin-top: 4%;
    width: 13%; 
    height: auto;
    border-radius: 50%; 
    object-fit: cover; 
}
.contactUsHeading{
    margin-top: 4%;
    margin-left: 14%;
    font-size: 65px;    
    color: rgb(246, 230, 230);
}
.contactUs {
    font-size: 40px;
    margin-left: 14%;
    margin-right: 14%;
    color: rgb(246, 230, 230);
}