/*!
 * Marist CMPT 221L Fall 2024
 * Chris Carolan
 */

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    background-color: #2e2e2e;
    color: #f4f4f4;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 10%;
    height: auto;
}

.centerText {
    text-align: center;
    font-size: 150px;
    color: #a83232;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    gap: 0;

}

#HomeButton,
#MenuButton,
#AboutButton,
#ContactButton,
#ReservationButton {
    background-color: #a83232;
    color: #fff;
    padding: 20px 150px;
    font-size: 40px;
    cursor: pointer;
}

.welcome {
    text-align: center;
    font-size: 50px;
    color: #a83232;
    margin-left: 400px;
    margin-right: 400px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 0;
}

.restPhotos {
    margin-top: 2%;
    width: 25%;
    height: auto;
}

.foodHeadings {
    margin-top: 4%;
    margin-left: 14%;
    font-size: 65px;
    color: rgb(246, 230, 230);
}

.food {
    font-size: 40px;
    margin-left: 14%;
    margin-right: 14%;
    color: rgb(246, 230, 230);

}

.foodImage {
    margin-left: 63%;
    margin-top: 4%;
    width: 40%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.aboutUsHeading {
    margin-top: 4%;
    margin-left: 14%;
    font-size: 65px;
    color: rgb(246, 230, 230);
}

.aboutUs {
    font-size: 40px;
    margin-left: 14%;
    margin-right: 14%;
    color: rgb(246, 230, 230);
}

.personalPhotos {
    margin-top: 4%;
    width: 13%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.contactUsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    margin-left: 14.4%;
    margin-right: 14.4%;
    margin-top: 50px;
}

.contactSection,
.hoursSection {
    flex: 1;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;

}

.contactUsHeading {
    color: #e63946;
    margin-bottom: 15px;
    font-size: 7rem;
    border-bottom: 2px solid #e63946;
    padding-bottom: 5px;
}

.contactUs {
    color: #fff;
    line-height: 1.8;
    font-size: 3.5rem;
}

.contactUSPic {
    text-align: center;
}

.reachOut {
    text-align: center;
    font-size: 50px;
    color: #e63946;
}

.reserveMessage {
    text-align: center;
    font-size: 50px;
    color: rgb(246, 230, 230);
}

.reservationSheet {
    margin-left: 20%;
    margin-right: 20%;
    background-color: whitesmoke;
    border-radius: 5%;
}

.reservationInfo {
    margin-left: 5%;
    color: black;
    font-size: 5rem;
}
input{
    margin-top: 5%;
    font-size: 5rem;
    margin-bottom:5% ;
}
#submit{
    background-color: #a83232;
    color: black;
    padding: 40px 80px;
    border-radius: 12px;
    font-size: 70px;
    cursor: pointer;
    margin-bottom: 5%;
}
.submitButton{
    text-align: center;
}