
html {
    box-sizing: border-box;
    font-size: 50%;
    margin-bottom: 50px;
}


body {
    background-color: #2e2e2e;
    color: #f4f4f4;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 10%;
    height: auto;
}

.centerText {
    text-align: center;
    font-size: 100px;
    color: #a83232;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    gap: 0;

}

#HomeButton,
#MenuButton,
#AboutButton,
#ContactButton,
#ReservationButton {
    background-color: #a83232;
    color: #fff;
    padding: 12px 70px;
    font-size: 30px;
    cursor: pointer;
}

.welcome {
    text-align: center;
    font-size: 30px;
    color: #a83232;
    margin-left: 10%;
    margin-right: 10%;
}

.images {
    display: flex;
    justify-content: center;
    gap: 0;
}

.restPhotos {
    margin-top: 2%;
    width: 25%;
    height: auto;
}

.foodHeadings {
    margin-top: 4%;
    margin-left: 14%;
    font-size: 40px;
    color: rgb(246, 230, 230);
}

.food {
    font-size: 25px;
    margin-left: 14%;
    margin-right: 14%;
    color: rgb(246, 230, 230);

}

.aboutUsHeading {
    margin-top: 4%;
    margin-left: 14%;
    font-size: 40px;
    color: rgb(246, 230, 230);
}

.aboutUs {
    font-size: 25px;
    margin-left: 14%;
    margin-right: 14%;
    color: rgb(246, 230, 230);
}

.personalPhotos {
    margin-top: 4%;
    width: 13%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.contactUsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.contactSection,
.hoursSection {
    flex: 1;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;

}

.contactUsHeading {
    color: #e63946;
    margin-bottom: 15px;
    font-size: 7rem;
    border-bottom: 2px solid #e63946;
    padding-bottom: 5px;
}

.contactUs {
    color: #fff;
    line-height: 1.8;
    font-size: 25px;
}

.contactUSPic {
    text-align: center;
}

.reachOut {
    text-align: center;
    font-size: 35px;
    color: #e63946;
}

.reserveMessage {
    text-align: center;
    font-size: 38px;
    color: rgb(246, 230, 230);
}

.reservationSheet {
    margin-left: 15%;
    margin-right: 15%;
    background-color: whitesmoke;
    border-radius: 5%;
}

.reservationInfo {
    margin-left: 5%;
    color: black;
    font-size: 5rem;
}

input {
    margin-top: 5%;
    font-size: 25px;
    margin-bottom: 5%;
}

#submit {
    background-color: #a83232;
    color: black;
    padding: 20px 40px;
    border-radius: 12px;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 5%;
}

.submitButton {
    text-align: center;
}